# SConstruct
*.dblite
__pycache__
*.pyc

# Visual Studio Cache
.vs/

# VSCode Cache
.vscode/

# Binaries
.DS_Store
*.obj
*.iobj
#*.so
#*.dll
*.o
#*.dylib
*.pdb
*.ipdb
*.ilk
*.exe
*.264
*.exp
*.lib
*.a
*.vcxproj.user
*.os
*.out

used_classes.json

*.blend[0-9]
*.blend[0-9][0-9]

*.scor
*.scor.*
.scons-cache/
.import/
.mono/
obj/
bin/
libs/
cmake_build_out/*
src/gen/*
src/editor/dst_modules
addons/debug_draw_3d/gen/
addons/debug_draw_3d/native_api/
clang_rt.asan_*
docs/images/classes/temp/
SUCCESS
