# SConstruct
*.dblite
__pycache__
*.pyc

# Visual Studio Cache
.vs/

# VSCode Cache
.vscode/

# Binaries
.DS_Store
*.obj
*.iobj
#*.so
#*.dll
*.o
#*.dylib
*.pdb
*.ipdb
*.ilk
*.exe
*.264
*.exp
*.lib
*.a
*.vcxproj.user
*.os
*.out

used_classes.json

*.blend[0-9]
*.blend[0-9][0-9]

*.scor
*.scor.*
.import/
.mono/
obj/
bin/
src/gen/*
addons/debug_draw_3d/libs/~*
addons/debug_draw_3d/csharp/*
clang_rt.asan_*
docs/images/classes/temp/
